html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}
h1 {
    text-align: center;
    font: bold;
    
}
h2{
  font-style: italic;
  color:rgb(153, 194, 181);
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  animation-name: index;
  animation-duration: 2s;
  margin-top: 20px;
  }
  
.fronth2{
text-shadow: 2px 2px rgb(202, 224, 217);
color:rgb(94, 143, 134);
border-radius: 5px;
text-align: center;

}

.theIndex{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 5px;
  border-spacing: 0px;
  background-color:rgba(7, 48, 38, 0.33);
  border-collapse: separate;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 70px;
  font-size: 15px;
  outline: 2px solid rgb(29, 22, 9);
  
}

body {
    text-align: center;
    color:rgb(202, 224, 217);
    background-image: url(../images/forests.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
    margin-right: 100px; 
    margin-bottom: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*body {
    display: inline-block;
    background-image: url("redsea2.jpg");
    background-size: cover;
    margin-left: 100px;
    margin-right: 100px; 
  }*/
nav{
  padding-top: 10px;
}

a {
    color:rgb(202, 224, 217);
    text-decoration: none ;
}
.menu-indexu {
    list-style-type: none;
    overflow: hidden;
    
    
   }
.menu-indexl {
    float: left;
    font-size: 25px;
    color:rgb(202, 224, 217);
  }
li a, .mydrop {
    display: inline-block;
    color:rgb(202, 224, 217);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover, .dropdown:hover .mydrop {
    background-color: #03342a89;
    border-radius: 50%;
    
  }
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(7, 48, 38, 0.20);
  color: white;
  text-align: center;
 }

footer div{ 
  text-align: center;
  bottom: 0;
  position:relative;
  left: 0;
  width: 100%;
}
footer a{
  position: relative;
  text-decoration: none ;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
 /* contract page*/
 .Cmode{
  font-size: 30px;
}
 .contrap{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px; 
 }
 
 .theContrac{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0 100px;
    border-radius: 5px;
    border-spacing: 0px;
    background-color:rgba(7, 48, 38, 0.33);
    border-collapse: separate;
    margin: 70px 50px;
    font-size: 15px;
    outline: 2px solid rgb(29, 22, 9);
  }
  /* Introduction Page */

.Imode{
    font-size: 30px;
  }
.intro{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;  
 }

 .theIntro{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0 100px;
    border-radius: 5px;
    border-spacing: 0px;
    background-color:rgba(7, 48, 38, 0.33);
    border-collapse: separate;
    margin: 70px 50px;
    font-size: 15px;
    outline: 2px solid rgb(29, 22, 9);
    
  }
  .border{
     border: 2px solid rgba(1, 46, 40, 0.518);
  }
 
