<header>
  <div class="header">
    <h1>WEB-215 * Chuchu Genife * Sheeba Beauty</h1>
   <nav>
      <ul class="menu-indexu">
        <li class="menu-indexl"><a href="index.html" target="_self">Home</a></li>
        <li class="menu-indexl"><a href="contract.html" target="_self">Contract</a></li>
        <li class="menu-indexl"><a href="introduction.html" target="_self">Introduction</a></li>  
        <li class="menu-indexl"><a href="Brand.html" target="_self">Brand</a></li> 
      </ul>
   </nav>
  </div>
</header>
